---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Acerca del sitio">
    <h1>Acerca de</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad temporibus dignissimos libero error excepturi alias quo ea aliquam, recusandae nesciunt sint nemo repellendus exercitationem dolorem ipsa. Debitis labore officiis illo?</p>
</Layout>